<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicon.png">
      <link rel="icon" type="image/png" href="/favicon.png">
      <title>
        Admin - Users
      </title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
      <link href="/sui/assets/css/nucleo-icons.css" rel="stylesheet" />
      <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
      <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
      <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
      <link id="pagestyle" href="/sui/assets/css/soft-design-system.css?v=1.0.7" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
      <link rel="stylesheet" href="mstyle.css">
    </head>
    
    <body class="contact-us">

<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon.png">
  <link rel="icon" type="image/png" href="favicon.png">
  <title>
    DigitechAM Freepik Downloader
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/sui/assets/css/soft-design-system.css?v=1.0.7" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="mstyle.css">
</head>

<body style="background-color: #232323;">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2">
            <div class="container-fluid">
              <a class="navbar-brand font-weight-bolder ms-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" >
                DigitechAM Freepik Downloader
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                  <li class="nav-item px-3">
                    <a class="nav-link" href="/admin">
                      Dashboard
                    </a>
                  </li>
          
                  <li class="nav-item px-3">
                    <a class="nav-link">
                      Users
                    </a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                    <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/user/logout">Logout</a>
                  </ul>
              </div>
            </div>
          </nav>
          <div class="container">
              <div class="card">
                  <div class="card-body">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#usermodal">Add a new user</button>
                  </div>
              </div>
              <div class="row"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="usermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="userform" action="/admin/users" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" name="username" id="username" type="text" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" name="email" id="email" type="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" name="password" id="password" type="password" required>
            </div>
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit"  class="btn btn-dark">Add User</button>
        </form>
        </div>
    </div>
    </div>
    <% if(success && success.length){ %>
        <script>
          Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: '<%= success %>',
            })
        </script>
        <% } %> 
</div>
  <script src="/sui/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/sui/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/sui/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/sui/assets/js/plugins/parallax.min.js"></script>
  <script src="/sui/assets/js/soft-design-system.min.js?v=1.0.7" type="text/javascript"></script>
</body>

</html>
