<% layout('/boiler/userboiler') %>
<div class="container mt-7">
    <% for(let i=requests.length -1 ; i>=0 ; i--){ %>
        <div class="card blur mb-3 shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-between">
                        <h6><%= requests[i].name %></h6>
                        <p>Created by: <br>
                            <%= requests[i].owner.username %></p>
                        <a class="btn bg-gradient-dark btn-sm mb-0" href="<%= requests[i].link %>">Download</a>
                    </div>
                    <div class="col d-flex flex-row-reverse">
                        <img src="<%= requests[i].image %>" style="max-height: 250px; max-width: 100%;" class="border-radius-lg shadow" alt="">
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
</div>