<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dlpage</title>
    <style>

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="input-box">
            <form action="/req" method="POST">
                <label for="linkinput">enter the link to download:</label>
                <br>
                <input name="link" type="text">
                <br>
                <button type="submit">Request Download</button>
            </form>
        </div>
    </div>
</body>
</html>