<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon.png">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>
    DigitechAM Freepik Downloader
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/sui/assets/css/soft-design-system.css?v=1.0.7" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <link rel="stylesheet" href="/mstyle.css">
</head>

<body style="background-color: #344767;">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/">
              DigitechAM Freepik Downloader
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav">
                <li>
                    <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/admin">Dashboard</a>
                </li>
                </ul>
                <ul class="navbar-nav">
                  <li>
                      <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/admin/logs">Logs</a>
                  </li>
                  </ul>
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                  <li class="nav-item">
                    <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/admin/users">Users</a>
                  </li>
                </ul>
            <ul class="navbar-nav">
              <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/user/logout">Logout</a>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

    <%- body %> 

</body>
<script src="/sui/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/sui/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/sui/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/sui/assets/js/plugins/parallax.min.js"></script>
<script src="/sui/assets/js/soft-design-system.min.js?v=1.0.7" type="text/javascript"></script>

</html>