<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon.png">
  <link rel="icon" type="image/png" href="favicon.png">
  <title>
    DigitechAM Freepik Downloader
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/sui/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/sui/assets/css/soft-design-system.css?v=1.0.7" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="mstyle.css">
</head>

<body>
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/">
              DigitechAM Freepik Downloader
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <% if(user.role === 'admin'){ %> 
              <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item">
                  <a class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1" href="/admin">Admin</a>
                </li>
              </ul>
              <% } %> 
              <ul class="navbar-nav">
                <a class="btn btn-sm  bg-gradient-secondary  btn-round mb-0 me-1" href="/archive">Archive</a>
                </ul>
            <ul class="navbar-nav">
              <a class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" href="/user/logout">Logout</a>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <img class="position-absolute fixed-top ms-auto w-50 h-100 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="/sui/assets/img/curved-images/curved.jpg" style="z-index: -1;" alt="image">
  <div class="position-absolute w-100 z-index-0 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
        </g>
      </svg>
    </div>
    <%- body %> 

</body>
<script src="/sui/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/sui/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/sui/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/sui/assets/js/plugins/parallax.min.js"></script>
<script src="/sui/assets/js/soft-design-system.min.js?v=1.0.7" type="text/javascript"></script>

</html>